prefect
prefect-aws
prefect-dbt
duckdb
polars
mlb-statsapi
pandas
pyarrow
fastparquet
tabulate
jupyter
controlflow
chromadb
dbt-core
dbt-snowflake
openai

-e track_3_orchestrate_ai_workflows/session_1_building_agentic_workflows/slackbot